.title-primary {
  border-left: 8px solid $color-primarylight;
  padding-left: 16px;
  font-size: 48px;
  font-weight: 700;
  color: $color-black;
  @include mx(16px, 60px);
  @include lg {
    margin-bottom: 40px;
    border-left: 4px solid $color-primarylight;
  }
  @include md {
    font-size: 28px;
    margin-bottom: 24px;
    padding-left: 8px;
  }
}
.xl-mx {
  margin-top: 80px;
  margin-bottom: 160px;
  @include lg {
    margin-top: 44px;
    margin-bottom: 96px;
  }
  @include md {
    margin-top: 12px;
    margin-bottom: 56px;
  }
}
.turnPage {
  display: flex;
  justify-content: center;
  align-items: center;
  &--number {
    color: $color-black;
    padding: 12px 15px;
    border: 1px solid $color-gray;
    font-size: 18px;
    &:hover {
      color: $color-hover;
    }
  }
  &--nextPage {
    background: $color-lightGay;
  }
  &--previousPage,
  &--nextPage {
    font-size: 19px;
    padding: 12px 12px 11px 12px;
  }
  &--Selected {
    background: $color-black;
    color: $color-white;
  }
}

.hover:hover {
  color: $color-hover;
}
