.header {
    background: $color-primary;
    font-size: 20px;
    @include md {
        width: 100%;
        position: sticky;
        top: 0;
        z-index: 1;
        padding: 0;
    }
}
.header__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include md {
        flex-direction: column;
        align-items: stretch;
    }
}
.header__nav__logo {
    background: url("../images/logo.png") no-repeat center center / cover;
    width: 80px;
    height: 49px;
    //圖片取代文字
    text-indent: 101%;
    white-space: nowrap;
    overflow: hidden;
    @include md {
        width: 48px;
        height: 29px;
        margin: 10px auto;
    }
}

.header__nav__menu {
    display: flex;
    flex-wrap: wrap;
    @include md {
        margin: 0 -15px;
    }
    &__item {
        & a {
            color: #fff;
            display: block;
            margin-left: 64px;
            padding: 38px 0 41px 0;
            @include md {
                margin-left: 0;
                padding: 8px;
            }
            &:hover {
                color: $color-orange;
            }
        }
        @include md {
            width: 50%;
            border: 1px solid #fff;
            text-align: center;
            margin-left: auto;
            margin-right: auto;
        }
    }
}
