<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>
    <%- title %>
  </title>
  <link rel="stylesheet" href="./assets/style/all.css">
</head>

<body>
  <header class="header">
    <nav class="header__nav container">
      <a href="index.html">
        <h1 class="header__nav__logo">眼鏡</h1>
      </a>
      <ul class="header__nav__menu">
        <li class="header__nav__menu__item"><a href="#">系列鏡框</a>
        </li>
        <li class="header__nav__menu__item"><a href="location.html
          ">門市據點</a>
        </li>
        <li class="header__nav__menu__item"><a href="#">部落格</a>
        </li>
        <li class="header__nav__menu__item"><a href="#">常見問題</a></li>
      </ul>
    </nav>
  </header>

  <%- contents %>

    <footer class="footer">
      <div class="container">
        <nav class="footer__nav">
          <div>
            <ul class="footer__nav__menu">
              <li><a href="index.html">首頁</a></li>
              <li><a href="#">系列鏡框</a></li>
              <li><a href="location.html">門市據點</a></li>
              <li><a href="#">部落格</a></li>
              <li><a href="#">常見問題</a></li>
            </ul>
            <ul class="footer__nav__connection">
              <li> <a href="tel:0800000000">
                  <div class="footer__nav__connection__item">
                    <img src="./assets/images/icon-phone.svg">
                    <p>0800-000-000</p>
                  </div>
                </a></li>
              <li> <a href="mailto:glasses@business.com">
                  <div class="footer__nav__connection__item">
                    <img src="./assets/images/icon-mail.svg" alt="mail">
                    <p>glasses@business.com</p>
                  </div>
                </a></li>
            </ul>
          </div>
          <ul class="footer__nav__community">
            <li><a href="#">
                <img src="./assets/images/logo-facebook.svg" alt="facebook" class="footer__nav__community--imgfb"></a>
            </li>
            <li><a href="#">
                <img src="./assets/images/icon-ig.svg" alt="ig" class="footer__nav__community--img"></a>
            </li>
            <li><a href="#">
                <img src="./assets/images/icon-line.svg" alt="line" class="footer__nav__community--img"></a></li>
          </ul>
        </nav>
        <div class="footer--hr"></div>
        <div class="footer__nav__copyright">
          <p>Copyright © 2020 Glasses.All rights reserved.</p>
          <ul class="footer__nav__copyright__content">
            <li><a href="#">隱私權政策</a></li>
            <li><a href="#">服務條款</a></li>
          </ul>
        </div>
      </div>
    </footer>
</body>

</html>