@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;700;900&family=Roboto:wght@400;500;700&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  text-decoration: none;
  color: white;
  display: block; }

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle; }

body {
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  font-family: "Roboto", "Arial", "Noto Sans", "Source Han Sans", "sans-serif"; }

.container {
  margin: 0 auto;
  max-width: 1140px;
  padding: 0 15px; }

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: -15px;
  margin-right: -15px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  @media (max-width: 768px) {
    .row {
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; } }

@media (min-width: 0px) {
  .col-md-1 {
    max-width: 8.33333%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 8.33333%;
            flex: 0 0 8.33333%;
    padding: 0 15px; }
  .col-md-2 {
    max-width: 16.66667%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 16.66667%;
            flex: 0 0 16.66667%;
    padding: 0 15px; }
  .col-md-3 {
    max-width: 25%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
    padding: 0 15px; }
  .col-md-4 {
    max-width: 33.33333%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.33333%;
            flex: 0 0 33.33333%;
    padding: 0 15px; }
  .col-md-5 {
    max-width: 41.66667%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 41.66667%;
            flex: 0 0 41.66667%;
    padding: 0 15px; }
  .col-md-6 {
    max-width: 50%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    padding: 0 15px; }
  .col-md-7 {
    max-width: 58.33333%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 58.33333%;
            flex: 0 0 58.33333%;
    padding: 0 15px; }
  .col-md-8 {
    max-width: 66.66667%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 66.66667%;
            flex: 0 0 66.66667%;
    padding: 0 15px; }
  .col-md-9 {
    max-width: 75%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 75%;
            flex: 0 0 75%;
    padding: 0 15px; }
  .col-md-10 {
    max-width: 83.33333%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 83.33333%;
            flex: 0 0 83.33333%;
    padding: 0 15px; }
  .col-md-11 {
    max-width: 91.66667%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 91.66667%;
            flex: 0 0 91.66667%;
    padding: 0 15px; }
  .col-md-12 {
    max-width: 100%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    padding: 0 15px; } }

@media (min-width: 768px) {
  .col-lg-1 {
    max-width: 8.33333%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 8.33333%;
            flex: 0 0 8.33333%; }
  .col-lg-2 {
    max-width: 16.66667%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 16.66667%;
            flex: 0 0 16.66667%; }
  .col-lg-3 {
    max-width: 25%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%; }
  .col-lg-4 {
    max-width: 33.33333%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.33333%;
            flex: 0 0 33.33333%; }
  .col-lg-5 {
    max-width: 41.66667%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 41.66667%;
            flex: 0 0 41.66667%; }
  .col-lg-6 {
    max-width: 50%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%; }
  .col-lg-7 {
    max-width: 58.33333%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 58.33333%;
            flex: 0 0 58.33333%; }
  .col-lg-8 {
    max-width: 66.66667%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 66.66667%;
            flex: 0 0 66.66667%; }
  .col-lg-9 {
    max-width: 75%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 75%;
            flex: 0 0 75%; }
  .col-lg-10 {
    max-width: 83.33333%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 83.33333%;
            flex: 0 0 83.33333%; }
  .col-lg-11 {
    max-width: 91.66667%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 91.66667%;
            flex: 0 0 91.66667%; }
  .col-lg-12 {
    max-width: 100%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%; } }

@media (min-width: 992px) {
  .col-xl-1 {
    max-width: 8.33333%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 8.33333%;
            flex: 0 0 8.33333%; }
  .col-xl-2 {
    max-width: 16.66667%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 16.66667%;
            flex: 0 0 16.66667%; }
  .col-xl-3 {
    max-width: 25%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%; }
  .col-xl-4 {
    max-width: 33.33333%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.33333%;
            flex: 0 0 33.33333%; }
  .col-xl-5 {
    max-width: 41.66667%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 41.66667%;
            flex: 0 0 41.66667%; }
  .col-xl-6 {
    max-width: 50%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%; }
  .col-xl-7 {
    max-width: 58.33333%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 58.33333%;
            flex: 0 0 58.33333%; }
  .col-xl-8 {
    max-width: 66.66667%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 66.66667%;
            flex: 0 0 66.66667%; }
  .col-xl-9 {
    max-width: 75%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 75%;
            flex: 0 0 75%; }
  .col-xl-10 {
    max-width: 83.33333%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 83.33333%;
            flex: 0 0 83.33333%; }
  .col-xl-11 {
    max-width: 91.66667%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 91.66667%;
            flex: 0 0 91.66667%; }
  .col-xl-12 {
    max-width: 100%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%; } }

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.flex-wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.flex-direction-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

.flex-direction-column-row-reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse; }
  @media (max-width: 992px) {
    .flex-direction-column-row-reverse {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row; } }

.justify-content-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.justify-content-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.align-items-start {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start; }

.align-items-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.align-items-end {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end; }

.fw-700 {
  font-weight: 700; }

.fw-900 {
  font-weight: 900; }

.text-align-center {
  text-align: center; }

.title-primary {
  border-left: 8px solid #9f1213;
  padding-left: 16px;
  font-size: 48px;
  font-weight: 700;
  color: black;
  margin-top: 16px;
  margin-bottom: 60px; }
  @media (max-width: 992px) {
    .title-primary {
      margin-bottom: 40px;
      border-left: 4px solid #9f1213; } }
  @media (max-width: 768px) {
    .title-primary {
      font-size: 28px;
      margin-bottom: 24px;
      padding-left: 8px; } }

.xl-mx {
  margin-top: 80px;
  margin-bottom: 160px; }
  @media (max-width: 992px) {
    .xl-mx {
      margin-top: 44px;
      margin-bottom: 96px; } }
  @media (max-width: 768px) {
    .xl-mx {
      margin-top: 12px;
      margin-bottom: 56px; } }

.turnPage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .turnPage--number {
    color: black;
    padding: 12px 15px;
    border: 1px solid #555555;
    font-size: 18px; }
    .turnPage--number:hover {
      color: orange; }
  .turnPage--nextPage {
    background: #f2f2f2; }
  .turnPage--previousPage, .turnPage--nextPage {
    font-size: 19px;
    padding: 12px 12px 11px 12px; }
  .turnPage--Selected {
    background: black;
    color: white; }

.hover:hover {
  color: orange; }

.header {
  background: #aa0601;
  font-size: 20px; }
  @media (max-width: 768px) {
    .header {
      width: 100%;
      position: -webkit-sticky;
      position: sticky;
      top: 0;
      z-index: 1;
      padding: 0; } }

.header__nav {
  margin-right: 88px;
  margin-left: 88px; }
  @media (max-width: 992px) {
    .header__nav {
      margin-right: 39px;
      margin-left: 39px; } }
  @media (max-width: 768px) {
    .header__nav {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: stretch;
          -ms-flex-align: stretch;
              align-items: stretch;
      margin-left: 15px;
      margin-right: 15px; } }

.header__nav__logo {
  background: url("../images/logo.png") no-repeat center center/cover;
  width: 80px;
  height: 49px;
  text-indent: 101%;
  white-space: nowrap;
  overflow: hidden; }
  @media (max-width: 768px) {
    .header__nav__logo {
      width: 48px;
      height: 29px;
      margin: 10px auto; } }

@media (max-width: 768px) {
  .header__nav__menu {
    margin: 0 -15px; } }

.header__nav__menu__item a {
  margin-left: 64px;
  padding: 38px 0 41px 0; }
  .header__nav__menu__item a:hover {
    color: orange; }
  @media (max-width: 768px) {
    .header__nav__menu__item a {
      margin-left: 0;
      padding: 8px; } }

@media (max-width: 768px) {
  .header__nav__menu__item {
    width: 50%;
    border: 1px solid white;
    text-align: center;
    margin-right: auto;
    margin-left: auto; } }

.footer {
  background-color: #aa0601;
  color: white;
  padding-top: 44px;
  padding-bottom: 39px; }
  @media (max-width: 992px) {
    .footer {
      padding-top: 38px;
      padding-bottom: 21px; } }
  @media (max-width: 768px) {
    .footer {
      padding-top: 25px;
      padding-bottom: 24px; } }
  .footer a:hover {
    color: orange; }
  .footer--hr {
    border-bottom: 1px solid white;
    margin-top: 8px;
    margin-bottom: 32px; }
    @media (max-width: 992px) {
      .footer--hr {
        margin-bottom: 24px; } }
    @media (max-width: 768px) {
      .footer--hr {
        margin-top: 18px;
        margin-bottom: 16px; } }

@media (max-width: 768px) {
  .footer__nav__menu {
    display: none; } }

.footer__nav__menu li {
  margin-right: 48px;
  margin-bottom: 36px; }
  @media (max-width: 992px) {
    .footer__nav__menu li {
      margin-right: 40px;
      margin-bottom: 18px; } }

.footer__nav__connection {
  font-size: 36px; }
  @media (max-width: 992px) {
    .footer__nav__connection {
      font-size: 20px; } }
  .footer__nav__connection__item {
    margin-bottom: 16px; }
    @media (max-width: 992px) {
      .footer__nav__connection__item {
        margin-bottom: 12px; } }
    @media (max-width: 992px) {
      .footer__nav__connection__item {
        margin-bottom: 6px; } }
  .footer__nav__connection img {
    width: 40px;
    margin-right: 20px; }
    @media (max-width: 992px) {
      .footer__nav__connection img {
        width: 20px;
        margin-right: 10px; } }
    @media (max-width: 768px) {
      .footer__nav__connection img {
        margin-right: 7px; } }
  .footer__nav__connection li:hover {
    color: orange;
    -webkit-filter: invert(52%) sepia(92%) saturate(615%) hue-rotate(2deg) brightness(107%) contrast(104%);
            filter: invert(52%) sepia(92%) saturate(615%) hue-rotate(2deg) brightness(107%) contrast(104%); }

.footer__nav__community li {
  margin-left: 32px; }
  @media (max-width: 992px) {
    .footer__nav__community li {
      margin-left: 24px; } }

.footer__nav__community--img, .footer__nav__community--imgfb {
  width: 48px; }
  @media (max-width: 992px) {
    .footer__nav__community--img, .footer__nav__community--imgfb {
      width: 24px; } }
  .footer__nav__community--img:hover, .footer__nav__community--imgfb:hover {
    -webkit-filter: invert(52%) sepia(92%) saturate(615%) hue-rotate(2deg) brightness(107%) contrast(104%);
            filter: invert(52%) sepia(92%) saturate(615%) hue-rotate(2deg) brightness(107%) contrast(104%); }

.footer__nav__community--imgfb {
  -webkit-filter: invert(100%);
          filter: invert(100%);
  border-radius: 20px;
  width: 40px; }
  @media (max-width: 992px) {
    .footer__nav__community--imgfb {
      width: 20px; } }

@media (max-width: 768px) {
  .footer__nav__copyright p {
    width: 100%; } }

.footer__nav__copyright__content {
  font-size: 14px; }
  .footer__nav__copyright__content li {
    margin-left: 48px; }
    @media (max-width: 992px) {
      .footer__nav__copyright__content li {
        margin-left: 24px; } }
    @media (max-width: 768px) {
      .footer__nav__copyright__content li {
        width: 100%;
        margin-left: 0;
        margin-top: 8px; } }
  .footer__nav__copyright__content a:hover {
    color: orange; }

.banner {
  background: url(../images/banner.png) no-repeat center center/cover;
  height: 637px; }
  .banner__content {
    height: 100%;
    color: #650300;
    font-size: 36px; }
    @media (max-width: 992px) {
      .banner__content {
        font-size: 20px; } }
    @media (max-width: 768px) {
      .banner__content {
        font-size: 16px; } }
    .banner__content--title {
      font-size: 64px; }
      @media (max-width: 992px) {
        .banner__content--title {
          font-size: 48px; } }
      @media (max-width: 768px) {
        .banner__content--title {
          font-size: 32px; } }

.about {
  background-color: #aa06010d;
  padding-top: 60px;
  padding-bottom: 80px; }
  @media (max-width: 992px) {
    .about {
      padding-top: 40px;
      padding-bottom: 56px; } }
  .about--title {
    font-size: 48px;
    color: #650300;
    margin-bottom: 48px; }
    @media (max-width: 992px) {
      .about--title {
        font-size: 32px;
        margin-bottom: 40px; } }
    @media (max-width: 768px) {
      .about--title {
        font-size: 24px;
        margin-bottom: 28px; } }
  .about img {
    width: 100px;
    height: 100px;
    margin-bottom: 25px; }
  @media (max-width: 992px) {
    .about__item {
      margin-bottom: 40px; } }
  .about__item--title {
    color: #650300;
    font-size: 24px;
    margin-bottom: 8px; }
  .about__item--content {
    text-align: left;
    max-width: 255px;
    margin-right: auto;
    margin-left: auto; }

.classic {
  margin-top: 60px;
  margin-bottom: 48px; }
  @media (max-width: 992px) {
    .classic {
      margin-top: 40px; } }
  @media (max-width: 768px) {
    .classic {
      margin-top: 32px;
      margin-bottom: 32px; } }
  .classic--title {
    margin-bottom: 40px;
    font-size: 48px;
    color: #650300; }
    @media (max-width: 992px) {
      .classic--title {
        font-size: 32px;
        margin-bottom: 32px; } }
    @media (max-width: 768px) {
      .classic--title {
        font-size: 20px;
        margin-bottom: 20px; } }
  .classic__item {
    margin-bottom: 32px; }
    @media (max-width: 992px) {
      .classic__item {
        margin-bottom: 8px; } }
    @media (max-width: 768px) {
      .classic__item {
        position: relative; } }
    .classic__item--img {
      position: relative; }
      .classic__item--img::before {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 17px;
        right: 0;
        background: url(../images/product-2-color.png) no-repeat;
        background-size: contain;
        opacity: 0; }
      .classic__item--img:hover::before {
        opacity: 1; }
  @media (max-width: 768px) {
    .classic__item__content {
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%); } }
  .classic__item__content img {
    margin-right: 10px;
    width: 44px; }
  .classic__item__content--optical {
    -webkit-filter: invert(12%) sepia(62%) saturate(4329%) hue-rotate(7deg) brightness(115%) contrast(127%);
            filter: invert(12%) sepia(62%) saturate(4329%) hue-rotate(7deg) brightness(115%) contrast(127%); }
  .classic__item__content--text {
    font-style: italic;
    font-size: 48px;
    color: #aa0601; }
    .classic__item__content--text:hover {
      color: orange; }
    @media (max-width: 992px) {
      .classic__item__content--text {
        font-size: 28px; } }

.designer {
  background: url(../images/bg.png) no-repeat center center/cover;
  padding-top: 60px;
  padding-bottom: 80px; }
  @media (max-width: 992px) {
    .designer {
      padding-top: 40px;
      padding-bottom: 56px; } }
  @media (max-width: 768px) {
    .designer {
      padding-top: 32px;
      padding-bottom: 24px; } }
  .designer--title {
    margin-bottom: 40px;
    font-size: 48px;
    color: white; }
    @media (max-width: 992px) {
      .designer--title {
        font-size: 32px; } }
  .designer__item {
    position: relative; }
    @media (max-width: 768px) {
      .designer__item {
        margin-bottom: 16px; } }
    .designer__item img {
      width: 100%; }
    .designer__item::before {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background: rgba(255, 255, 255, 0.5);
      margin-right: 15px;
      margin-left: 15px; }
    .designer__item:hover::before {
      opacity: 0; }
  .designer__item--title {
    font-size: 72px;
    color: #aa0601;
    white-space: nowrap;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%); }
    @media (max-width: 992px) {
      .designer__item--title {
        font-size: 32px; } }

.recommend {
  margin-bottom: 80px; }
  .recommend--title {
    font-size: 48px;
    color: #650300;
    margin-top: 60px;
    margin-bottom: 40px; }
    @media (max-width: 992px) {
      .recommend--title {
        font-size: 32px;
        margin-top: 40px;
        margin-bottom: 32px; } }
    @media (max-width: 768px) {
      .recommend--title {
        font-size: 20px;
        margin-top: 32px;
        margin-bottom: 20px; } }
  .recommend__item {
    border: 1px solid #dee2e6;
    -webkit-box-shadow: 0px 2px 6px #00000029;
            box-shadow: 0px 2px 6px #00000029; }
    @media (max-width: 992px) {
      .recommend__item {
        margin-bottom: 32px; } }
    @media (max-width: 768px) {
      .recommend__item {
        margin-bottom: 16px; } }
    .recommend__item img {
      width: 100%; }
    .recommend__item p {
      margin-right: 16px;
      margin-left: 16px; }
    .recommend__item--name {
      margin-top: 16px; }
    .recommend__item--text {
      margin-top: 8px; }
    .recommend__item--content {
      margin-top: 76px;
      margin-bottom: 16px; }
    .recommend__item--date {
      margin-top: 52px;
      margin-bottom: 16px; }

.contactUs {
  background: #aa06010d;
  padding-top: 60px;
  padding-bottom: 80px; }
  @media (max-width: 992px) {
    .contactUs {
      padding-top: 40px;
      padding-bottom: 66px; } }
  .contactUs--title {
    font-size: 48px;
    color: black;
    padding-bottom: 24px; }
    @media (max-width: 992px) {
      .contactUs--title {
        font-size: 32px; } }
  .contactUs--content {
    font-size: 20px;
    margin-bottom: 20px; }

@media (max-width: 768px) {
  .contactUs__form {
    font-size: 14px; } }

.contactUs__form__group {
  margin-bottom: 16px; }
  .contactUs__form__group input,
  .contactUs__form__group textarea {
    display: block;
    width: 100%;
    background-color: transparent;
    border: 1px solid #000000;
    padding: 1rem;
    outline: 0; }
  .contactUs__form__group__checkbox {
    margin-bottom: 40px; }
    .contactUs__form__group__checkbox input {
      margin-right: 8px; }
  .contactUs__form__group__submit {
    padding-bottom: 20px; }
    .contactUs__form__group__submit input {
      color: white;
      background-color: #aa0601;
      width: 350px;
      padding: 16px 143px;
      border: none;
      -webkit-transition-duration: 1000ms;
           -o-transition-duration: 1000ms;
              transition-duration: 1000ms; }
      @media (max-width: 992px) {
        .contactUs__form__group__submit input {
          padding: 10px 77px; } }
      @media (max-width: 768px) {
        .contactUs__form__group__submit input {
          padding: 8px 54px; } }
      .contactUs__form__group__submit input:hover {
        background-color: orange; }

.glassNav--selected {
  border-bottom: 8px solid #aa0601; }

.glassNav__item {
  width: 370px;
  border-right: 1px solid #dcdcdc;
  border-left: 1px solid #dcdcdc;
  color: black;
  font-size: 32px;
  padding-top: 26px;
  padding-bottom: 34px;
  margin-bottom: -8px; }
  .glassNav__item:hover {
    -webkit-filter: invert(71%) sepia(28%) saturate(6084%) hue-rotate(2deg) brightness(106%) contrast(103%);
            filter: invert(71%) sepia(28%) saturate(6084%) hue-rotate(2deg) brightness(106%) contrast(103%); }
  @media (max-width: 1120px) {
    .glassNav__item {
      width: 300px; } }
  @media (max-width: 992px) {
    .glassNav__item {
      width: 230px;
      font-size: 24px;
      padding-top: 14px;
      padding-bottom: 22px; } }
  @media (max-width: 768px) {
    .glassNav__item {
      width: 115px;
      font-size: 14px;
      padding-top: 6px;
      padding-bottom: 14px; } }
  @media (max-width: 320px) {
    .glassNav__item {
      width: 100px;
      font-size: 12px; } }

.glassNav__item--img {
  max-height: 40px;
  margin-right: 10px; }
  @media (max-width: 992px) {
    .glassNav__item--img {
      height: 32px; } }
  @media (max-width: 768px) {
    .glassNav__item--img {
      height: 20px;
      margin-right: 2px; } }

.glassBanner--img {
  width: 50%; }

.glassContent--mainTitle {
  font-size: 42px; }
  @media (max-width: 992px) {
    .glassContent--mainTitle {
      font-size: 32px; } }
  @media (max-width: 768px) {
    .glassContent--mainTitle {
      font-size: 20px; } }

.glassContent--subTitle {
  font-size: 32px;
  margin-bottom: 40px; }
  @media (max-width: 992px) {
    .glassContent--subTitle {
      font-size: 24px;
      margin-bottom: 32px; } }
  @media (max-width: 768px) {
    .glassContent--subTitle {
      font-size: 16px;
      margin-bottom: 20px; } }

.glassCard__body {
  margin-bottom: 104px; }
  @media (max-width: 992px) {
    .glassCard__body {
      margin-bottom: 72px; } }
  @media (max-width: 768px) {
    .glassCard__body {
      margin-bottom: 32px; } }
  .glassCard__body--img {
    width: 100%;
    height: 164px; }
    @media (max-width: 992px) {
      .glassCard__body--img {
        height: 215px; } }
    @media (max-width: 768px) {
      .glassCard__body--img {
        height: auto; } }
  .glassCard__body--sunglassesImg {
    height: 224px;
    width: 100%; }
    @media (max-width: 768px) {
      .glassCard__body--sunglassesImg {
        height: auto; } }

.glassCard__body__item {
  font-size: 24px;
  text-transform: uppercase; }
  @media (max-width: 768px) {
    .glassCard__body__item {
      font-size: 16px; } }
  .glassCard__body__item--content {
    color: #aa0601; }

.glassCard__body__item__color--darkBrown, .glassCard__body__item__color--brown {
  width: 24px;
  height: 24px; }
  @media (max-width: 768px) {
    .glassCard__body__item__color--darkBrown, .glassCard__body__item__color--brown {
      width: 16px;
      height: 16px; } }

.glassCard__body__item__color--darkBrown {
  background-color: #5f3e2d;
  margin-right: 8px; }
  @media (max-width: 768px) {
    .glassCard__body__item__color--darkBrown {
      margin-right: 4px; } }

.glassCard__body__item__color--brown {
  background-color: #b75929; }

.region {
  margin-bottom: 32px; }
  @media (max-width: 992px) {
    .region {
      margin-bottom: 24px; } }
  @media (max-width: 768px) {
    .region {
      margin-bottom: 20px; } }
  .region p {
    font-size: 24px; }
    @media (max-width: 992px) {
      .region p {
        font-size: 16px; } }
    @media (max-width: 768px) {
      .region p {
        font-size: 14px; } }
  .region select {
    font-size: 18px;
    margin-left: 20px;
    color: #495057;
    padding: 9px 231px 8px 19px; }
    @media (max-width: 992px) {
      .region select {
        font-size: 16px;
        padding: 10px 150px 12px 16px; } }
    @media (max-width: 768px) {
      .region select {
        font-size: 14px;
        padding: 7px 100px 9px 16px; } }

.store {
  margin-bottom: 32px; }
  @media (max-width: 992px) {
    .store {
      margin-bottom: 20px; } }
  @media (max-width: 768px) {
    .store {
      margin-bottom: 16px; } }
  .store img {
    width: 100%;
    height: 224px; }
    @media (max-width: 992px) {
      .store img {
        height: 164px; } }
    @media (max-width: 768px) {
      .store img {
        height: auto; } }
  .store__item {
    padding: 0 24px;
    border: 1px solid #00000020; }
    .store__item--name {
      font-size: 24px;
      padding-top: 12px;
      padding-bottom: 12px; }
      @media (max-width: 992px) {
        .store__item--name {
          font-size: 16px;
          padding-top: 8px;
          padding-bottom: 8px; } }
    .store__item--hr {
      border-bottom: 1px solid #00000020;
      margin-right: -24px;
      margin-left: -24px; }
    .store__item--phone, .store__item--time, .store__item--adress {
      font-size: 20px;
      margin-bottom: 8px; }
      @media (max-width: 992px) {
        .store__item--phone, .store__item--time, .store__item--adress {
          font-size: 14px; } }
    .store__item--phone {
      padding-top: 16px; }
      .store__item--phone::before {
        content: "";
        background: url("../images/icon-phone-black.svg") no-repeat center center/contain;
        display: inline-block;
        vertical-align: middle;
        width: 20px;
        height: 20px;
        margin-right: 10px; }
    .store__item--time::before {
      content: "";
      background: url("../images/icon-clock-black.svg") no-repeat center center/contain;
      display: inline-block;
      vertical-align: middle;
      width: 20px;
      height: 20px;
      margin-right: 10px; }
    .store__item--adress {
      margin-bottom: 16px;
      margin-left: 32px;
      text-indent: -32px; }
      .store__item--adress::before {
        content: "";
        background: url("../images/icon-map.svg") no-repeat center center/contain;
        display: inline-block;
        vertical-align: middle;
        width: 20px;
        height: 20px;
        margin-right: 10px; }
    .store__item--content {
      background-color: black;
      padding-top: 20px;
      padding-bottom: 20px;
      font-size: 19px; }
      @media (max-width: 992px) {
        .store__item--content {
          font-size: 14px; } }
      .store__item--content:hover {
        color: orange; }

@media (max-width: 992px) {
  .location__store {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 32px; }
    .location__store img {
      width: 49.5%;
      margin-right: 30px; }
    .location__store__item {
      width: 49.5%; } }

@media (max-width: 768px) {
  .location__store {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-bottom: 16px; }
    .location__store img {
      width: 100%;
      margin-right: 0; }
    .location__store__item {
      width: 100%; } }

.map {
  width: 100%;
  height: 422px;
  border: 0; }
  @media (max-width: 768px) {
    .map {
      height: 221px; } }

.faq {
  margin-bottom: 160px; }
  @media (max-width: 768px) {
    .faq {
      margin-bottom: 56px; } }
  .faq--title {
    font-size: 32px;
    margin-bottom: 36px; }
  .faq__item {
    margin-bottom: 32px; }
    @media (max-width: 992px) {
      .faq__item {
        margin-bottom: 20px; } }
    .faq__item--title {
      font-size: 20px;
      margin-bottom: 16px; }
      @media (max-width: 768px) {
        .faq__item--title {
          margin-bottom: 8px; } }
    .faq__item--content {
      margin-left: 90px; }
      @media (max-width: 992px) {
        .faq__item--content {
          margin-left: 70px; } }
      @media (max-width: 768px) {
        .faq__item--content {
          margin-left: 0; } }

.blog__nav {
  background-color: #650300; }
  @media (max-width: 768px) {
    .blog__nav {
      display: none; } }
  .blog__nav__item--img {
    width: 30px;
    padding: 11px 0; }
    .blog__nav__item--img:hover {
      -webkit-filter: invert(52%) sepia(92%) saturate(615%) hue-rotate(2deg) brightness(107%) contrast(104%);
              filter: invert(52%) sepia(92%) saturate(615%) hue-rotate(2deg) brightness(107%) contrast(104%); }
  .blog__nav__item__menu--content {
    margin-right: 48px;
    font-size: 20px; }
    .blog__nav__item__menu--content:hover {
      color: orange; }

.blog--title {
  margin-top: 40px; }
  @media (max-width: 992px) {
    .blog--title {
      margin-top: 32px; } }
  @media (max-width: 768px) {
    .blog--title {
      margin-top: 28px; } }

.blog__item {
  margin-bottom: 60px; }
  .blog__item--img {
    width: 100%;
    -webkit-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out; }
    .blog__item--img:hover {
      opacity: 0.6; }
  @media (max-width: 992px) {
    .blog__item {
      margin-bottom: 24px; } }
  @media (max-width: 768px) {
    .blog__item {
      margin-bottom: 20px; } }

.blog__item__list--title {
  font-size: 32px;
  color: #650300; }

.blog__item__list--link {
  font-size: 36px;
  color: #650300;
  text-align: right; }
  .blog__item__list--link:hover {
    color: orange; }
  @media (max-width: 992px) {
    .blog__item__list--link {
      display: none; } }

.blog__item__list__content {
  margin-bottom: 24px;
  color: black; }
  @media (max-width: 992px) {
    .blog__item__list__content {
      margin-bottom: 32px; } }
  @media (max-width: 768px) {
    .blog__item__list__content {
      margin-bottom: 0; } }
  .blog__item__list__content--title {
    font-size: 20px; }
  @media (max-width: 992px) {
    .blog__item__list__content--text {
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 6;
      /*值為數字，表示一共顯示幾行*/
      overflow: hidden;
      -o-text-overflow: ellipsis;
         text-overflow: ellipsis;
      display: inline; } }
  @media (max-width: 768px) {
    .blog__item__list__content--text {
      display: none; } }
  .blog__item__list__content--textXlHide {
    display: none; }
    @media (max-width: 992px) {
      .blog__item__list__content--textXlHide {
        display: inline; } }
    @media (max-width: 768px) {
      .blog__item__list__content--textXlHide {
        display: none; } }

.blogBreadcrumb--title {
  font-size: 14px;
  margin-top: 8px;
  margin-bottom: 8px; }

.blogBreadcrumb--text {
  color: #aa0601; }

.blog__content--title {
  font-size: 48px;
  margin-bottom: 8px;
  color: #aa0601; }
  @media (max-width: 992px) {
    .blog__content--title {
      font-size: 32px;
      margin-bottom: 4px; } }
  @media (max-width: 768px) {
    .blog__content--title {
      font-size: 20px;
      margin-bottom: 0; } }

.blog--tabText {
  font-size: 24px;
  color: #aa0601; }
  @media (max-width: 992px) {
    .blog--tabText {
      font-size: 16px; } }
  @media (max-width: 768px) {
    .blog--tabText {
      font-size: 14px; } }

.blogPost__Articlet__item {
  margin-bottom: 24px; }
  @media (max-width: 768px) {
    .blogPost__Articlet__item {
      margin-bottom: 20px; } }

.blogPost__Articlet__item--title {
  font-size: 28px; }
  @media (max-width: 992px) {
    .blogPost__Articlet__item--title {
      font-size: 16px; } }
  @media (max-width: 768px) {
    .blogPost__Articlet__item--title {
      font-size: 14px; } }

.blogPost__Articlet--img {
  width: 100%;
  margin-bottom: 16px; }

.blogPost__Articlet--text {
  margin-bottom: 24px;
  font-weight: normal;
  font-size: 20px; }
  @media (max-width: 992px) {
    .blogPost__Articlet--text {
      font-size: 16px; } }

.blogPost__tabs {
  color: #aa0601;
  font-size: 24px; }
  @media (max-width: 992px) {
    .blogPost__tabs {
      font-size: 16px; } }
  @media (max-width: 768px) {
    .blogPost__tabs {
      -webkit-box-ordinal-group: 4;
          -ms-flex-order: 3;
              order: 3;
      margin-bottom: 56px; } }
  .blogPost__tabs__content--img {
    width: 38px;
    margin-right: 12px; }
    @media (max-width: 992px) {
      .blogPost__tabs__content--img {
        margin-right: 2px; } }
  .blogPost__tabs__content--title {
    font-size: 28px; }
    @media (max-width: 992px) {
      .blogPost__tabs__content--title {
        font-size: 20px; } }
  .blogPost__tabs__content__item--text {
    margin-right: 24px; }
    @media (max-width: 992px) {
      .blogPost__tabs__content__item--text {
        margin-right: 16px; } }
    @media (max-width: 768px) {
      .blogPost__tabs__content__item--text {
        margin-right: 8px; } }

.blogPost__footer {
  margin-bottom: 160px; }
  @media (max-width: 992px) {
    .blogPost__footer {
      margin-bottom: 96px; } }
  @media (max-width: 768px) {
    .blogPost__footer {
      margin-bottom: 30px; } }
  .blogPost__footer__community--title {
    font-size: 20px;
    margin-right: 20px; }
    @media (max-width: 992px) {
      .blogPost__footer__community--title {
        font-size: 16px; } }
  .blogPost__footer__community--img {
    width: 24px;
    margin-right: 16px; }
    @media (max-width: 992px) {
      .blogPost__footer__community--img {
        width: 20px; } }
    .blogPost__footer__community--img:hover {
      -webkit-filter: invert(71%) sepia(28%) saturate(6084%) hue-rotate(2deg) brightness(106%) contrast(103%);
              filter: invert(71%) sepia(28%) saturate(6084%) hue-rotate(2deg) brightness(106%) contrast(103%); }
  .blogPost__footer__community--igImg {
    -webkit-filter: brightness(0);
            filter: brightness(0);
    width: 30px;
    padding-top: 2px; }
    @media (max-width: 992px) {
      .blogPost__footer__community--igImg {
        width: 26px; } }
    .blogPost__footer__community--igImg:hover {
      -webkit-filter: invert(52%) sepia(92%) saturate(615%) hue-rotate(2deg) brightness(107%) contrast(104%);
              filter: invert(52%) sepia(92%) saturate(615%) hue-rotate(2deg) brightness(107%) contrast(104%); }
  .blogPost__footer--hr {
    border: 1px solid black;
    margin-top: 20px;
    margin-bottom: 24px; }
  .blogPost__footer__item--link {
    color: black;
    font-size: 19px; }
    @media (max-width: 992px) {
      .blogPost__footer__item--link {
        font-size: 16px; } }
    @media (max-width: 768px) {
      .blogPost__footer__item--link {
        width: 100%;
        margin-bottom: 8px; } }
  .blogPost__footer__item--link:hover {
    -webkit-filter: invert(71%) sepia(28%) saturate(6084%) hue-rotate(2deg) brightness(106%) contrast(103%);
            filter: invert(71%) sepia(28%) saturate(6084%) hue-rotate(2deg) brightness(106%) contrast(103%); }
  @media (max-width: 768px) {
    .blogPost__footer__item__content {
      width: 50%; } }
  .blogPost__footer__item__content--img {
    width: 16px;
    margin-left: 12px; }
    @media (max-width: 768px) {
      .blogPost__footer__item__content--img {
        margin-right: 12px;
        margin-left: 0; } }
  .blogPost__footer__item__content--previousPageImg {
    -webkit-transform: scaleX(-1);
        -ms-transform: scaleX(-1);
            transform: scaleX(-1);
    margin-left: 0;
    margin-right: 12px; }
  .blogPost__footer__item__contentType2 {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse; }
    @media (max-width: 768px) {
      .blogPost__footer__item__contentType2 {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row; } }

/*# sourceMappingURL=all.css.map */
