@mixin lg {
  @media (max-width: 992px) {
    @content;
  }
}
@mixin md {
  @media (max-width: 768px) {
    @content;
  }
}
@mixin mx($mt, $mb) {
  margin-top: $mt;
  margin-bottom: $mb;
}
@mixin my($mr, $ml) {
  margin-right: $mr;
  margin-left: $ml;
}
@mixin px($pt, $pb) {
  padding-top: $pt;
  padding-bottom: $pb;
}
@mixin py($pl, $pr) {
  padding-left: $pl;
  padding-right: $pr;
}
