$color-primary: #aa0601;
$color-primarylight: #9f1213;
$color-primarydark: #650300;

$color-hover: orange;

$color-white: white;
$color-black: black;

$color-pink: #aa06010d;

$color-gray: #555555;
$color-brightGray: #dcdcdc;
$color-lightGay: #f2f2f2;
$color-darkGray: #00000020;

$color-brown: #b75929;
$color-darkBrown: #5f3e2d;
