$gutter-width: 30px;
$grid-num: 12;

.container {
  margin: 0 auto;
  max-width: 1140px;
  padding: 0 $gutter-width/2;
}
.row {
  display: flex;
  margin-left: -($gutter-width/2);
  margin-right: -($gutter-width/2);
  flex-wrap: wrap;
  @include md {
    justify-content: center;
  }
}
@media (min-width: 0px) {
  @for $i from 1 through $grid-num {
    .col-md-#{$i} {
      max-width: 100% * ($i/$grid-num);
      flex: 0 0 (100% * ($i/$grid-num));
      padding: 0 $gutter-width/2;
    }
  }
}
@media (min-width: 769px) {
  @for $i from 1 through $grid-num {
    .col-lg-#{$i} {
      max-width: 100% * ($i/$grid-num);
      flex: 0 0 (100% * ($i/$grid-num));
    }
  }
}
@media (min-width: 992px) {
  @for $i from 1 through $grid-num {
    .col-xl-#{$i} {
      max-width: 100% * ($i/$grid-num);
      flex: 0 0 (100% * ($i/$grid-num));
    }
  }
}
